In [3]:
import pandas as pd
#reading the csv file into python
data = pd.read_csv('chat.csv')
data

                                               message sentiment
0                           I really enjoyed the movie  positive
1                                The food was terrible  negative
2                   I'm not sure how I feel about this   neutral
3                            The service was excellent  positive
4                               I had a bad experience  negative
..                                                 ...       ...
579  I have to cancel my vacation plans because I c...  negative
580  My computer crashed and I lost all my importan...  negative
581  I got into a car accident and my car is totale...  negative
582  I have a cold and can't stop coughing. it's re...  negative
583  I just found out my ex is dating someone new. ...  negative

[584 rows x 2 columns]

In [4]:
print("Total Instances of Dataset: ", data.shape[0])

Total Instances of Dataset:  584

In [5]:
""" preprocessing the data
sentiment is a categorical data , so we have to convert into numerical data as follows
positive->1
negative->0
neutral->2 """
def pre_process(data):
    data['sent_num'] = data.sentiment.map({'positive': 1, 'negative': 0, 'neutral':2})
    return data
pre_process(data)

# after preprocessing
data

                                               message sentiment  sent_num
0                           I really enjoyed the movie  positive         1
1                                The food was terrible  negative         0
2                   I'm not sure how I feel about this   neutral         2
3                            The service was excellent  positive         1
4                               I had a bad experience  negative         0
..                                                 ...       ...       ...
579  I have to cancel my vacation plans because I c...  negative         0
580  My computer crashed and I lost all my importan...  negative         0
581  I got into a car accident and my car is totale...  negative         0
582  I have a cold and can't stop coughing. it's re...  negative         0
583  I just found out my ex is dating someone new. ...  negative         0

[584 rows x 3 columns]

In [6]:
#splitting of the data
X = data.message
y = data.sent_num
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y)

In [7]:
#Vectorize text messages to numbers
from sklearn.feature_extraction.text import CountVectorizer
count_v = CountVectorizer()
Xtrain_dm = count_v.fit_transform(Xtrain)
Xtest_dm = count_v.transform(Xtest)

In [12]:
# generating the naive_bayes model.
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(Xtrain_dm, ytrain)
pred = model.predict(Xtest_dm) #prediction for testing set

In [13]:
""" let us make the predictions for the messages that are not in the dataset"""
model.predict(count_v.transform(['I got a new job']))

array([1], dtype=int64)

In [9]:
model.predict(count_v.transform(['I lost the money']))

array([0], dtype=int64)

In [10]:
model.predict(count_v.transform(['I ate rice']))

array([2], dtype=int64)

In [11]:
#Evaluating the model
from sklearn.metrics import accuracy_score, confusion_matrix
print('Accuracy Metrics: \n')
print('Accuracy: ', accuracy_score(ytest, pred))
print('Confusion Matrix: \n', confusion_matrix(ytest, pred))

Accuracy Metrics:

Accuracy:  0.815068493150685
Confusion Matrix:
 [[19  2  9]
 [ 7 38  5]
 [ 2  2 62]]